<style>
    .paginate_button {
        background-color: green;
    }
</style>
<div class="container mt-4">
    <div class="card card-light">
        <div class="card-header">
            Liste des commandes
            <a href="#" class="btn btn-success" style="position: absolute;right: 30px;" data-bs-toggle="modal"
                data-bs-target="#exampleModal"><i class="fa fa-plus mr-2"></i>Ajouter commande</a>

        </div>
        <div class="card-body table-responsive">
            <table datatable class="row-border w-100 table table-striped text-center table-collapse table-hover"
                [dtOptions]="dtOptions">
                <thead class="" style="background:#198754;color: white;">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Cout (Franc CFA)</th>
                        <th>Etat</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="commandes?.length !=0">
                    <tr *ngFor="let c of commandes;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{ c.date }}</td>
                        <td>{{ c.cout }}</td>
                        <td><span class="badge badge-success">validé</span></td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="[i+1]" routerLinkActive="router-link-active"><i
                                    class="fa fa-eye"></i></a>

                            <a class="btn btn-primary ml-4"><i class="fa fa-edit"></i></a>

                            <a class="btn btn-danger ml-4"><i class="fa fa-trash-o"></i></a>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<app-creer-commande></app-creer-commande>