<div class="card mt-4" style="padding:20px">
    <div class="row">
        <div class="col-md-3 card bg-success h-50" style="margin-top: 100px;color: white;">
            <h5 class="m-2 text-center">Detail Client</h5>
            <hr />
            <div class="text-center">
                <h6>Al Hassane diallo</h6>
                <h6>77 429 83 43</h6>
                <h6>Grand-yoff</h6>
                <h6>ala@gmail.com</h6>
            </div>
        </div>
        <div class="col-md-9">
            <h4 class="text-center">Detail de la Commande</h4>
            <table class="table w-100 mt-4">
                <thead>
                    <th>#</th>
                    <th>Libelle</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire (franc cfa)</th>
                    <th>Q * P.U</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>paracetamol tablet 500mg 20 comprimes</td>
                        <td>1</td>
                        <td>100.00</td>
                        <td>100.00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Efferalgan 1000mg 8 comprimés</td>
                        <td>1</td>
                        <td>1025.00</td>
                        <td>1025.00</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>genfort 20mg 8 comprimes</td>
                        <td>1</td>
                        <td>900.00</td>
                        <td>900.00</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Doliprane 1000mg poudre 8 sachets</td>
                        <td>1</td>
                        <td>1125.00</td>
                        <td>1125.00</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>paracetamol tablet 500mg 20 comprimes</td>
                        <td>1</td>
                        <td>100.00</td>
                        <td>100.00</td>
                    </tr>


                </tbody>
            </table>
            <div class="container row bg-success  mb-4 ml-2" style="color: white;">
                <span class="col-md-8">
                    <h3>Total</h3>
                </span>
                <span class="col-md-4 pull-right"><strong>3150.00 Franc cfa</strong></span>
            </div>
            <div>
                <button class="btn btn-primary">Valider la commande</button>
            </div>
        </div>
    </div>
</div>