<style>
    .paginate_button {
        background-color: green;
    }
</style>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Liste des Ventes
            <a routerLink="/espace/creer-vente" class="btn btn-success" style="position: absolute;right: 30px;"><i
                    class="fa fa-plus mr-2"></i>Ajouter vente</a>
            <!-- data-bs-toggle="modal" data-bs-target="#exampleModal" -->
        </div>
        <div class="card-body">
            <table datatable class="row-border w-100 table table-striped text-center" [dtOptions]="dtOptions">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Montant (FCFA)</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="ventes?.length !=0">
                    <tr *ngFor="let v of ventes;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{ v.montant }}</td>
                        <td>{{ v.dateVente }}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="[i+1]" routerLinkActive="router-link-active">
                                <i class="fa fa-eye"></i>
                            </a>
                            <!-- <a class="btn btn-warning">
                                <i class="fa fa-eye" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                            </a> -->
                            <a class="btn btn-primary ml-1" dat><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger ml-1"><i class="fa fa-trash-o"></i></a>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- <app-creer-utilisateur></app-creer-utilisateur> -->
<!-- <app-detail-vente></app-detail-vente> -->