<div class="modal fade" id="exampleModa2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered w-100">
        <div class="modal-content">
            <div class="modal-header " style="background: #198754;color: white;">
                <h5 class="modal-title" id="exampleModalLabel">Debiter le compte</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="">
                        <form [formGroup]="formGroup" (ngSubmit)="submit()">
                            <div class="row mb-3 t">
                                <div class="form-group col-md-12">
                                    <label>Montant</label>
                                    <input type="number" class="form-control" formControlName="montant" name="montant">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" type="submit" class="btn btn-primary"
                                    [disabled]="formGroup.invalid">Enregistrer</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>