<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered w-100">
        <div class="modal-content">
            <div class="modal-header " style="background: #198754;color: white;">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un medicament</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="">
                        <form [formGroup]="formGroup" (ngSubmit)="submit()">
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label>Nom</label>
                                    <input type="text" class="form-control" formControlName="libelle" name="libelle">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Quantite</label>
                                    <input type=" number" class="form-control" maxlength="9" formControlName="quantite"
                                        name="quantite">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label>Prix Session</label>
                                    <input type="text" class="form-control" maxlength="10" formControlName="prixSession"
                                        name="prixSession">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Coefficient</label>
                                    <input type="text" class="form-control" maxlength="10" formControlName="coefficient"
                                        name="coefficient">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label>Dosage</label>
                                    <input type="text" class="form-control" formControlName="dosage" name="dosage">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Type </label>
                                    <select class="form-control" formControlName="type" name="type">
                                        <option value="">---------selectionner------------</option>
                                        <option value="comprimé">comprimé</option>
                                        <option value="sirop">sirop</option>
                                        <option value="injection">injection</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label>TVA</label>
                                    <input type="text" class="form-control" maxlength="10" formControlName="tva"
                                        name="tva">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Vente libre</label>
                                    <select class="form-control" formControlName="venteLibre" name="venteLibre">
                                        <option value="">---------selectionner</option>
                                        <option value="oui">OUI</option>
                                        <option value="non">NON</option>
                                    </select>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group mb-3">
                                    <label>Date de peremption</label>
                                    <input type="date" class="form-control" maxlength="" minlength=""
                                        formControlName="datePeremption" name="datePeremption">
                                </div>
                                <div class="form-group">
                                    <label>Categorie</label>
                                    <select class="form-control" formControlName="categorie" name="categorie">
                                        <option value="">---------selectionner</option>
                                        <option value="{{c.libelle}}" *ngFor="let c of categories">{{c.libelle}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group">
                                    <label>Fournisseur</label>
                                    <select class="form-control" formControlName="fournisseur" name="fournisseur">
                                        <option value="">---------selectionner</option>
                                        <option value="fournisseur1">fournisseur 1</option>
                                        <option value="fournisseur2">fournisseur 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" type="submit" class="btn btn-primary"
                                    [disabled]="formGroup.invalid">Enregistrer</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>