<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
            <strong>Détail de la vente n° 12</strong>
            <!-- <a routerLink="/espace/creer-vente" class="btn btn-success" style="position: absolute;right: 30px;"><i class="fa fa-plus mr-2"></i>Ajouter vente</a> -->
            <!-- data-bs-toggle="modal" data-bs-target="#exampleModal" -->
        </div>
        <div class="card-body">
            <!-- <div class="container padding-bottom-3x mb-4 mt-4"> -->
            <!-- <div class="alert alert-info alert-dismissible fade show text-center">
                    Vente effectuée
                </div> -->

            <!-- Begin table -->
            <!-- <div class="table table-responsive"> -->
            <div class="table">
                <thead class="" style="background:#198754;color: white;">
                    <tr>
                        <!-- <th class="text-center texte-white">Images</th> -->
                        <th>#</th>
                        <th class="text-center texte-white">Libellé</th>
                        <th class="text-center texte-white">P.U</th>
                        <th class="text-center texte-white">Qté</th>
                        <th class="text-center texte-white">P.U * Qte (franc cfa)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>
                            <img src="assets/img/efferalgan.jpg" style="height: 80px; width: 80px;" alt="toff">
                        </td>
                        <th class="align-middle">
                            Efferalgan 1000mg 8 Comprimés
                        </th>
                        <td class="text-center align-middle">1 098.50</td>
                        <td class="text-center align-middle"><span class="badge bg-primary text-dark fs-6">01</span>
                        </td>
                        <td class="text-center align-middle">1 098.50</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/img/Doliprane 1000mg 8 Gélules.jpg" style="height: 80px; width: 80px;"
                                alt="toff">
                        </td>
                        <th class="align-middle">
                            Doliprane 1000mg 8 Gélules
                        </th>
                        <td class="text-center align-middle">600.03</td>
                        <td class="text-center align-middle"><span class="badge bg-primary text-dark fs-6">01</span>
                        </td>
                        <td class="text-center align-middle">600.03</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/img/Doliprane 1000mg Poudre 8 Sachets.jpg"
                                style="height: 80px; width: 80px;" alt="toff">
                        </td>
                        <th class="align-middle">
                            Doliprane 1000mg Poudre 8 Sachets
                        </th>
                        <td class="text-center align-middle">1 417</td>
                        <td class="text-center align-middle"><span class="badge bg-primary text-dark fs-6">01</span>
                        </td>
                        <td class="text-center align-middle">1 417</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/img/Doliprane Orodoz 500mg 12 Comprimés.jpg"
                                style="height: 80px; width: 80px;" alt="toff">
                        </td>
                        <th class="align-middle">
                            Doliprane Orodoz 500mg 12 Comprimés
                        </th>
                        <td class="text-center align-middle">1 527.50</td>
                        <td class="text-center align-middle"><span class="badge bg-primary text-dark fs-6">01</span>
                        </td>
                        <td class="text-center align-middle">1 527.50</td>
                    </tr>

                </tbody>
                <tfoot class="" style="background:#198754;color: white;">
                    <th class="fs-4 fw-bold" colspan="4">TOTAL (FCFA)</th>
                    <th class="text-center text-white fs-3 fw-bold">4 643,3</th>
                </tfoot>
            </div>
        </div>
        <!-- <div class="card-footer">
            <button>butt</button>
        </div> -->
    </div>
</div>