<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Liste des bonClients
            <a href="#" class="btn btn-success" style="position: absolute;right: 30px;" data-bs-toggle="modal"
                data-bs-target="#exampleModal"><i class="fa fa-plus mr-2"></i>Ajouter bonClient</a>

        </div>
        <div class="card-body">
            <table datatables class="row-border w-100 table table-striped text-center" [dtOptions]="dtOptions">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Telephone</th>
                        <th>Solde(Franc CFA)</th>

                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="bonClient?.length !=0">
                    <tr *ngFor="let u of bonClient;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{ u.prenom }}</td>
                        <td>{{ u.nom }}</td>
                        <td>{{ u.adresse }}</td>
                        <td>{{ u.telephone }}</td>
                        <td>{{ u.solde }}</td>

                        <td>
                            <a class="btn btn-warning" [routerLink]="[i+1]" routerLinkActive="router-link-active"><i
                                    class="fa fa-eye"></i></a>

                        </td>
                        <td>
                            <a class="btn btn-primary ml-1"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            <a class="btn btn-danger ml-1"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<app-creer-bonclient></app-creer-bonclient>