<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card-counter primary">
                <i class="fa fa-code-fork"></i>
                <span class="count-numbers">12 %</span>
                <span class="count-name">Niveau stock</span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-counter danger">
                <i class="fa fa-ticket"></i>
                <span class="count-numbers">599 000</span>
                <span class="count-name">Ventes</span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-counter success">
                <i class="fa fa-database"></i>
                <span class="count-numbers">6875</span>
                <span class="count-name">Commandes</span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-counter info">
                <i class="fa fa-users"></i>
                <span class="count-numbers">35</span>
                <span class="count-name">Clients</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-counter success">
                <i class="fa fa-users"></i>
                <span class="count-numbers">35</span>
                <span class="count-name">fournisseurs</span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-counter danger">
                <i class="fa fa-users"></i>
                <span class="count-numbers">35</span>
                <span class="count-name">Entreprises</span>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-6">
            <app-chart-ventes>
            </app-chart-ventes>
        </div>
        <div class="col-md-6">
            <app-chart-stock></app-chart-stock>
        </div>
    </div>
</div>
<!-- Line chart -->
<div class="row">
    <div class="col-md-5">
        <chart class="dashchart" [type]="type1" [data]="data1" [options]="options4"></chart>
    </div>
    <div class="col-md-7">
        <chart class="dashchart" type="line" [data]="mutiLineChartData" [options]="mutiLineChartDataoptions"></chart>
    </div>
</div>
