<div class="container s" style="margin-top: 10px;">
    <div class="row container shadow p3">
        <div class="col-md-5">
            <div class="userProfile">
                <img src="../../../images/user.png" class="rounded-circle" alt="image">

            </div>
        </div>

        <div class="col-md-7">
            <div class="row">
                <div class="col-md">
                    <div class="police1">
                        Cheikh Yakhouba Cisse
                    </div>
                    <div class="police2">Senegal, Rufisque</div>

                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md">
                    <button class="btnCrediterDebiter" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fad fa-share text-xs mr-2"></i>
                        crediter
                    </button>

                    <button class="btnCrediterDebiter" data-bs-toggle="modal" data-bs-target="#exampleModa2">
                        <i class="fad fa-share text-xs mr-2"></i>
                        debiter
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-5 banierGauche">
            <div class="card shadow p3">
                <div class="text-center alert alert-success police2">INFORMATIONS</div>
                <div class="card-body">
                    <div class="police2">
                        <i class="fad fa-share text-xs mr-2"></i>
                        Prenom : <em class="police3"> cheikh</em>


                    </div>
                    <hr>
                    <div class="police2">
                        <i class="fad fa-share text-xs mr-2"></i>
                        Nom :<em class="police3"> Cisse</em>
                    </div>
                    <hr>
                    <div class="police2">
                        <i class="fad fa-share text-xs mr-2"></i>
                        Adresse :<em class="police3"> Rufisque</em>
                    </div>
                    <hr>
                    <div class="police2">
                        <i class="fad fa-share text-xs mr-2"></i>
                        Telephone :<em class="police3"> 784672317</em>
                    </div>
                    <hr>
                    <div class="police2">
                        <i class="fad fa-share text-xs mr-2"></i>
                        Email :<em class="police3"> cheikh97@gmail.com</em>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card shadow banierDroite">

                <div class="text-center alert alert-success police2">
                    SOLDE
                </div>
                <div class="jumbotron bg-light">
                    <p class="text-center">XOF :<em class="police1" style="color: red;"> 15000 Fcfa</em> </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal pour crediter -->


</div>
<app-crediter-solde></app-crediter-solde>
<app-debiter-solde></app-debiter-solde>