<style>
    .paginate_button {
        background-color: green;
    }
</style>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Liste des medicaments
            <a href="#" class="btn btn-success" style="position: absolute;right: 30px;" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Ajouter medicament</a>

        </div>
        <div class="card-body">
            <table datatable class="row-border w-100 table table-striped text-center" [dtOptions]="dtOptions">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Libelle</th>
                        <th>Quantite en Stock</th>
                        <th>Prix session</th>
                        <th>Coefficient</th>
                        <th>TVA</th>
                        <th>Vente libre</th>
                        <th>Date de peremption</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="medicaments?.length !=0">
                    <tr *ngFor="let m of medicaments;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{ m.libelle }}</td>
                        <td>{{ m.quantite }}</td>
                        <td>{{ m.prixSession }}</td>
                        <td>{{ m.coefficient }}</td>
                        <td>{{ m.tva }}</td>
                        <td>{{ m.venteLibre }}</td>
                        <td>{{ m.datePeremption }}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="[i+1]" routerLinkActive="router-link-active"><i
                                    class="fa fa-eye"></i></a>

                        </td>
                        <td>
                            <a class="btn btn-primary ml-1"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            <a class="btn btn-danger ml-1"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<app-creer-medicament></app-creer-medicament>